
.container {
display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 30%;
    gap: 5%;
    border-radius:10px;
    box-shadow: 3px 4px #ee380a;
    width: 44%;
    background-color: rgb(113, 46, 238);
    text-align: center;
    color: #ffffff;
    font-family: "Arial Black", "Segoe Print", sans-serif;
}

h2{
    text-align: center;
    color:#ffffff;
    font-family: "Jokerman", "Segoe Print", sans-serif;
    
}